{% include 'website/header.html' %}

<section class="backgroundI">
    <h1>Catégories</h1>
    <h2>Les photos</h2>
</section>
<section class="bibliCat">
    <h2>Nom</h2>
    <ul class="catList">
        <li>
            <a href="/website/images/elephant/">Éléphant</a>

            <p>8 Photos</p>
        </li>
        <li><a href="/website/images/test/">Test</a><p>8 Photos</p></li>
        <li><a href="/website/images/lorem/">Lorem</a><p>8 Photos</p></li>
    </ul>
</section>
{% include 'website/footer.html' %}
