{% load static %}

<section class="footer">
    <ul>
        <li><h2>Information</h2></li>
        <li class="footerInfo"><a href="#">Question & Réponses</a></li>
        <li class="footerInfo"><a href="#">Me contacter</a></li>
    </ul>
    <ul>
        <li ><h2>Légal</h2></li>
        <li class="footerInfo"><a href="#">Mentions Légales</a></li>
    </ul>
    <ul>
        <li><h2>Me suivre</h2></li>
        <li class="social">
            <img src="{% static "website/img/logo-instagram.png" %}">
            <img src="{% static "website/img/twitter.png" %}">
        </li>
    </ul>
</section>
