{% load static %}
{# CSS #}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{# JS #}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="{% static "website/js/main.js" %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<div class="nav">

    {#          Burger  #}
    <div class="toggle">
        <div class="bar"></div>
    </div>

    {#          Menu  #}
    <nav class="hidden">
        <div class="showcase">
            <div class="showcase-container">
                <ul class="showcase-menu">
                    <li>Hi!</li>
                    <li>Hover over the list items or click them!</li>
                    <li class="overlay"
                        style="background-image:url(https://images.unsplash.com/photo-1537949721120-e8f21f6698e6?ixlib=rb-0.3.5&s=96527c5eff0b3bd24946f77f4dc5a789&auto=format&fit=crop&w=634&q=80);">
                        Lorem ipsum
                    </li>
                </ul>
            </div>
        </div>

        <div class="menu">
            <ul class="main-menu">
                <li class="active"><a href="{% url 'website:index' %}">Accueil</a></li>
                <li><a href="{% url 'website:images' %}">Images</a></li>
                <li><a href="{% url 'website:presentation' %}">Présentation</a></li>
            </ul>
        </div>
    </nav>
</div>