{% include 'website/header.html' %}

<section class="backgroundI">
    <h1>{{ post }}</h1>
    <h2>Photos</h2>
</section>
<section class="bandeauImages">
    <div data-aos="fade-right" data-aos-duration="1500" class="tags">
        <ul>
            <li>Test</li>
            <li>Test2</li>
            <li>Test3</li>
        </ul>
    </div>
    <div data-aos="zoom-in-left" data-aos-duration="1500" class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</div>
</section>
<section class="bibliImages">
    <div class="wrapper">
        <img src="https://source.unsplash.com/random/600x600?water" alt="">
        <img src="https://source.unsplash.com/random/600x600?summer" alt="">
        <img src="https://source.unsplash.com/random/600x600?plants" alt="">
        <img src="https://source.unsplash.com/random/600x600?snow" alt="">
        <img src="https://source.unsplash.com/random/600x600?roses" alt="">
        <img src="https://source.unsplash.com/random/600x600?sky" alt="">
        <img src="https://source.unsplash.com/random/600x600?nature" alt="">
        <img src="https://source.unsplash.com/random/600x600?blossom" alt="">
        <img src="https://source.unsplash.com/random/600x600?ice" alt="">
        <img src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img src="https://source.unsplash.com/random/600x600?spring" alt="">
    </div>
</section>
<script>
    AOS.init();
</script>
{% include 'website/footer.html' %}
