{% include 'website/header.html' %}

<div id="container" class="container">
    {#  Slider  #}
    <section class="background">
        <div class="content-wrapper">
            <p class="content-title">Be Present</p>
            <section class="portfolio-experiment">
                <a href="/website/images/elephant/">
                    <span class="text">Pour voir plus d'éléphant</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                </a>
            </section>
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <p class="content-title">Be All There</p>
            <section class="portfolio-experiment">
                <a href="/website/images/test/">
                    <span class="text">Pour voir plus de ...</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                </a>
            </section>
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <p class="content-title">Be Here</p>
            <section class="portfolio-experiment">
                <a href="/website/images/lorem/">
                    <span class="text">Pour voir plus de lorem</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                </a>
            </section>
        </div>
    </section>
</div>
