{% include 'website/header.html' %}
<section class="backgroundI">
    <h1>Qui suis-je ?</h1>
    <h2>Marc Dupond</h2>
</section>
<section class="bandeauImages profil">
    <div data-aos="fade-right" data-aos-duration="1500" class="tags">
        <img src="https://source.unsplash.com/random/600x600?water" alt="">
    </div>
    <div data-aos="zoom-in-left" data-aos-duration="1500" class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</div>
</section>
<section class="bibliImages">

</section>
<script>
    AOS.init();
</script>
{% include 'website/footer.html' %}
