@import url(https://fonts.googleapis.com/css?family=Montserrat);

// ------------- MIXINS ------------- //
@mixin transition($time, $property: all, $easing: ease-in) {
  transition: $property $time $easing;
}

// ------------- VARIABLES ------------- //
$parallax-offset: 30vh;
$content-offset: 40vh;
$transition-speed: 1.2s;
$slide-number: 3;

html, body {

}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 100vh + $parallax-offset;
  position: fixed;
  width: 100%;
  transform: translateY($parallax-offset);
  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
  }

  &:first-child {
    background-image: url(https://github.com/NOSDOOM/picturehost/raw/master/xZMOBTj.jpg);
    transform: translateY(-$parallax-offset / 2);

    .content-wrapper {
      transform: translateY($parallax-offset /2);
    }
  }

  &:nth-child(2) {
    background-image: url("https://github.com/NOSDOOM/picturehost/raw/master/4Aihmii.jpg");
  }

  &:nth-child(3) {
    background-image: url("https://i.redd.it/4vqygabli4mx.jpg");
  }
}

.backgroundI {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform;
    backface-visibility: hidden;
    height: 100vh;
    width: 100%;
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    background-image: url(https://github.com/NOSDOOM/picturehost/raw/master/xZMOBTj.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;

  h1 {
    font-family: Montserrat;
    color: #fff;
    font-family: Montserrat;
    margin-left: 450px;
    font-size: 100px;
    margin-top: 100px;
  }

  h2 {
    color: #fff;
    font-family: Montserrat;
    margin-left: 450px;
    font-size: 25px;
    margin-top: 25px;
  }
}

.bandeauImages {
  width: 100%;
  height: 45vh;
  background-color: #141414;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 30px;

  .description {
    width: 45%;
  }
}

.profil {

  img {
    border-radius: 50%;
    width: 400px;
  }
}

.bibliImages {
    margin-top: 35px;
    margin-bottom: 175px;

  .wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;

    img {
      z-index: 1;
      grid-column: span 2;
      max-width: 100%;
      margin-bottom: -52%;
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      transform: scale(1);
      transition: all .25s;

      &:nth-child(7n + 1) {
        grid-column: 2 / span 2;
      }

      &:hover {
        z-index: 2;
        transform: scale(2);
      }
    }
  }
}

.bibliCat {
  margin-top: 35px;
  margin-bottom: 175px;
  margin-left: 200px;
  margin-right: 200px;

  h2 {
    font-family: Montserrat;
    color: #7ed6df;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 3px;

    &:after {
      content: "";
      position: absolute;
      width: 200px;
      height: 10px;
      left: 200px;
      bottom: -90px;
      background-color: #7ed6df;
    }
  }

  .catList {
    margin-top: 50px;

    li {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;

      p {
        text-decoration: none;
        font-family: Montserrat;
        color: #7ed6df;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 3px;
      }

      a {
        text-decoration: none;
        font-family: Montserrat;
        color: #7ed6df;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 3px;
      }
    }
  }
}

/* Set stacking context of slides */
@for $i from 1 to ($slide-number + 1) {
  .background:nth-child(#{$i}) {
    z-index: ($slide-number + 1) - $i;
  }
}

.content {
  &-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    color: #fff;
    font-family: Montserrat;
    text-transform: uppercase;
    transform: translateY($content-offset);
    will-change: transform;
    backface-visibility: hidden;
    @include transition($transition-speed + .5, all, cubic-bezier(0.22, 0.44, 0, 1));
  }

  &-title {
    font-size: 12vh;
    line-height: 1.4;
  }
}

// ------------- SET TRANSFORM VALUES ------------- //

.background.up-scroll {
  transform: translate3d(0, -$parallax-offset / 2, 0);

  .content-wrapper {
    transform: translateY($parallax-offset / 2);
  }

  + .background {
    transform: translate3d(0, $parallax-offset, 0);

    .content-wrapper {
      transform: translateY($parallax-offset);
    }
  }
}

.background.down-scroll {
  transform: translate3d(0, -(100vh + $parallax-offset), 0);

  .content-wrapper {
    transform: translateY($content-offset);
  }

  + .background:not(.down-scroll) {
    transform: translate3d(0, -$parallax-offset / 2, 0);

    .content-wrapper {
      transform: translateY($parallax-offset / 2);
    }
  }
}

.container {
  overflow: hidden;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  // Bouton Burger 1
  .toggle {
    position: absolute;
    margin: auto;
    width: 46px;
    height: 46px;
    right: 150px;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;

    .bar {
      position: relative;
      width: 40px;
      height: 1px;
      background: #fff;

      &:before {
        top: -10px;
      }

      &:after {
        bottom: -10px;
      }

      &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: inherit;
        left: 0;
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transition: top .25s ease, bottom .25s ease, -webkit-transform .25s ease;
        transition: top .25s ease, bottom .25s ease, -webkit-transform .25s ease;
        transition: transform .25s ease, top .25s ease, bottom .25s ease;
        transition: transform .25s ease, top .25s ease, bottom .25s ease, -webkit-transform .25s ease;
      }
    }
  }
}

// Bouton Burger 2
.toggle.clicked {
  .bar {
    background: transparent;

    &:before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0;
    }

    &:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 0;
    }

    &:before, &:after {
      background: #000;
    }
  }
}

.hidden {
  display: none;
}

// Menu
.open {
  opacity: 1;

  .showcase {
    animation: slideInLeft .5s cubic-bezier(.3, 0, .3, 1) forwards;
  }

  .menu {
    animation: slideInRight .5s cubic-bezier(.3, 0, .3, 1) forwards;
  }
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  opacity: 0;
  z-index: 5;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;

  .showcase {
    background: #000;
    -webkit-box-flex: 1;
    flex: 1;
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    animation: slideOutLeft .5s cubic-bezier(.3, 0, .3, 1) forwards;

    .showcase-container {
      width: 50%;
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      .showcase-menu {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-y: visible;
        list-style-type: none;
        -webkit-transition: top .25s ease;
        transition: top .25s ease;

        li {
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          font-size: 40px;
          text-transform: uppercase;
          text-align: center;
          overflow: hidden;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          z-index: 1;
        }
      }
    }
  }

  .menu {
    animation: slideOutRight .5s cubic-bezier(.3, 0, .3, 1) forwards;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-menu {
      width: 100%;
      padding: 24px 48px 24px 48px;
      list-style-type: none;
      max-height: 100%;
      overflow-y: auto;


      li {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;

        .number {
          display: inline-block;
          padding: 0 0 0 80px;
          overflow: hidden;

          span {
            display: block;
            font-size: 48px;
            font-weight: 400;
            -webkit-transition: -webkit-transform .25s ease;
            transition: -webkit-transform .25s ease;
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            font-family: 'Noto Sans', sans-serif;
          }
        }

        a {
          display: inline-block;
          font-size: 48px;
          color: #000;
          line-height: 1;
          padding: 24px 0 24px 80px;
          -webkit-transition: -webkit-transform .25s ease;
          transition: -webkit-transform .25s ease;
          transition: transform .25s ease;
          transition: transform .25s ease, -webkit-transform .25s ease;
          font-family: 'Noto Sans', sans-serif;
          text-decoration: none;

          &:hover {
            transform: translateX(25px);
          }
        }
      }

      li.hover .number span {
        transform: translateY(0);
      }
    }
  }
}


// Link
$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
$color : #f26522;


.portfolio-experiment {

  a {
    color: white;
    padding: $pad $extra;
    display: inline-block;
    border: $thick solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
    text-decoration: none;

    .text {
      // padding: 0 0.3em;
      font-family: proxima-nova, monospace;
      transform: translate3d(0,$pad,0);
      display: block;
      transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
    }

    &:after {
      position: absolute;
      content: '';
      bottom: -$thick;
      left: $extra;
      right: $extra;
      height: $thick;
      background: $color;
      // z-index: -1;
      transition:
        transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
        right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
        left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
      transform-origin: left;
    }

  }

  .line {
    position: absolute;
    background: $color;

    &.-right,
    &.-left {
      width: $thick;
      bottom: -$thick;
      top: -$thick;
      transform: scale3d(1,0,1);
    }

    &.-top,
    &.-bottom {
      height: $thick;
      left: -$thick;
      right: -$thick;
      transform: scale3d(0,1,1);
    }

    &.-right {
      right: -$thick;
      transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
      transform-origin: top;
    }

    &.-top {
      top: -$thick;
      transition: transform 0.08s linear 0.43s;
      transform-origin: left;
    }

    &.-left {
      left: -$thick;
      transition: transform 0.08s linear 0.51s;
      transform-origin: bottom;
    }

    &.-bottom {
      bottom: -$thick;
      transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
      transform-origin: right;
    }
  }

  a:hover,
  a:active {

    .text {
      transform: translate3d(0,0,0);
      transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
    }

    &:after {
      transform: scale3d(0,1,1);
      right: -$thick;
      left: -$thick;
      transform-origin: right;
      transition:
        transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
        right 0.2s cubic-bezier(1,0,.65,1.01),
        left 0s 0.3s;
    }

    .line {
      transform: scale3d(1,1,1);

      &.-right {
        transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
        transform-origin: bottom;
      }

      &.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
      }

      &.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
      }

      &.-bottom {
        transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
        transform-origin: left;
      }
    }

  }
}

.menu {
  background: #fff;
  -webkit-box-flex: 1;
  flex: 1;
}

// footer
.footer {
  width: 100%;
  height: 35vh;
  background-color: #141414;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  ul {
    margin-top: 100px;
    list-style-type: none;

    a {
      text-decoration: none;
      color: #fff;
    }

    h2 {
      color: #fff;
      font-family: Montserrat;
      font-weight: bolder;
      margin-bottom: 30px;
      font-size: 20px;

      &::after {
            content: '';
            position: absolute;
            width: 100px;
            height: 1px;
            background-color: #fff;
            bottom: auto;
            display: block;
            margin-top: 15px;
      }
    }

    .footerInfo {
      color: #fff;
      font-family: Montserrat;
      margin-bottom: 10px;

      &:hover {
        &::after {
            content: '';
            position: absolute;
            height: 4px;
            background-color: #fff;
            display: initial;
            margin-top: 9px;
            margin-left: 12px;
            animation: SlideToRight .5s cubic-bezier(.3, 0, .3, 1) forwards;
        }
      }
    }

    .social {

      img {
        width: 45px;
        margin-right: 15px;

      }
    }
  }
}

@keyframes SlideToRight {
  from {
    width: 0px;
  }
  to {
    width: 60px;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
