@import url(https://fonts.googleapis.com/css?family=Montserrat);
.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.background:first-child {
  background-image: url(https://github.com/NOSDOOM/picturehost/raw/master/xZMOBTj.jpg);
  transform: translateY(-15vh);
}

.background:first-child .content-wrapper {
  transform: translateY(15vh);
}

.background:nth-child(2) {
  background-image: url("https://github.com/NOSDOOM/picturehost/raw/master/4Aihmii.jpg");
}

.background:nth-child(3) {
  background-image: url("https://i.redd.it/4vqygabli4mx.jpg");
}

.backgroundI {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 100vh;
  width: 100%;
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  background-image: url(https://github.com/NOSDOOM/picturehost/raw/master/xZMOBTj.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
}

.backgroundI h1 {
  font-family: Montserrat;
  color: #fff;
  font-family: Montserrat;
  margin-left: 450px;
  font-size: 100px;
  margin-top: 100px;
}

.backgroundI h2 {
  color: #fff;
  font-family: Montserrat;
  margin-left: 450px;
  font-size: 25px;
  margin-top: 25px;
}

.bandeauImages {
  width: 100%;
  height: 45vh;
  background-color: #141414;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 30px;
}

.bandeauImages .description {
  width: 45%;
}

.profil img {
  border-radius: 50%;
  width: 400px;
}

.bibliImages {
  margin-top: 35px;
  margin-bottom: 175px;
}

.bibliImages .wrapper {
  position: relative;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}

.bibliImages .wrapper img {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all .25s;
}

.bibliImages .wrapper img:nth-child(7n + 1) {
  grid-column: 2 / span 2;
}

.bibliImages .wrapper img:hover {
  z-index: 2;
  transform: scale(2);
}

.bibliCat {
  margin-top: 35px;
  margin-bottom: 175px;
  margin-left: 200px;
  margin-right: 200px;
}

.bibliCat h2 {
  font-family: Montserrat;
  color: #7ed6df;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 3px;
}

.bibliCat h2:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 10px;
  left: 200px;
  bottom: -90px;
  background-color: #7ed6df;
}

.bibliCat .catList {
  margin-top: 50px;
}

.bibliCat .catList li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.bibliCat .catList li p {
  text-decoration: none;
  font-family: Montserrat;
  color: #7ed6df;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
}

.bibliCat .catList li a {
  text-decoration: none;
  font-family: Montserrat;
  color: #7ed6df;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 3;
}

.background:nth-child(2) {
  z-index: 2;
}

.background:nth-child(3) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  transform: translateY(40vh);
  will-change: transform;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.content-title {
  font-size: 12vh;
  line-height: 1.4;
}

.background.up-scroll {
  transform: translate3d(0, -15vh, 0);
}

.background.up-scroll .content-wrapper {
  transform: translateY(15vh);
}

.background.up-scroll + .background {
  transform: translate3d(0, 30vh, 0);
}

.background.up-scroll + .background .content-wrapper {
  transform: translateY(30vh);
}

.background.down-scroll {
  transform: translate3d(0, -130vh, 0);
}

.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}

.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}

.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}

.container {
  overflow: hidden;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
}

.nav .toggle {
  position: absolute;
  margin: auto;
  width: 46px;
  height: 46px;
  right: 150px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

.nav .toggle .bar {
  position: relative;
  width: 40px;
  height: 1px;
  background: #fff;
}

.nav .toggle .bar:before {
  top: -10px;
}

.nav .toggle .bar:after {
  bottom: -10px;
}

.nav .toggle .bar:before, .nav .toggle .bar:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  left: 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: top .25s ease, bottom .25s ease, -webkit-transform .25s ease;
  transition: top .25s ease, bottom .25s ease, -webkit-transform .25s ease;
  transition: transform .25s ease, top .25s ease, bottom .25s ease;
  transition: transform .25s ease, top .25s ease, bottom .25s ease, -webkit-transform .25s ease;
}

.toggle.clicked .bar {
  background: transparent;
}

.toggle.clicked .bar:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

.toggle.clicked .bar:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 0;
}

.toggle.clicked .bar:before, .toggle.clicked .bar:after {
  background: #000;
}

.hidden {
  display: none;
}

.open {
  opacity: 1;
}

.open .showcase {
  animation: slideInLeft 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

.open .menu {
  animation: slideInRight 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  opacity: 0;
  z-index: 5;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

nav .showcase {
  background: #000;
  -webkit-box-flex: 1;
  flex: 1;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  animation: slideOutLeft 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

nav .showcase .showcase-container {
  width: 50%;
  position: relative;
  overflow: hidden;
}

nav .showcase .showcase-container:before {
  content: '';
  display: block;
  padding-top: 100%;
}

nav .showcase .showcase-container .showcase-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible;
  list-style-type: none;
  -webkit-transition: top .25s ease;
  transition: top .25s ease;
}

nav .showcase .showcase-container .showcase-menu li {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

nav .menu {
  animation: slideOutRight 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .menu .main-menu {
  width: 100%;
  padding: 24px 48px 24px 48px;
  list-style-type: none;
  max-height: 100%;
  overflow-y: auto;
}

nav .menu .main-menu li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

nav .menu .main-menu li .number {
  display: inline-block;
  padding: 0 0 0 80px;
  overflow: hidden;
}

nav .menu .main-menu li .number span {
  display: block;
  font-size: 48px;
  font-weight: 400;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  font-family: 'Noto Sans', sans-serif;
}

nav .menu .main-menu li a {
  display: inline-block;
  font-size: 48px;
  color: #000;
  line-height: 1;
  padding: 24px 0 24px 80px;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
}

nav .menu .main-menu li a:hover {
  transform: translateX(25px);
}

nav .menu .main-menu li.hover .number span {
  transform: translateY(0);
}

.portfolio-experiment a {
  color: white;
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  letter-spacing: 0.07em;
  text-decoration: none;
}

.portfolio-experiment a .text {
  font-family: proxima-nova, monospace;
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #f26522;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.portfolio-experiment .line {
  position: absolute;
  background: #f26522;
}

.portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}

.portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}

.portfolio-experiment .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}

.portfolio-experiment .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}

.portfolio-experiment .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}

.portfolio-experiment .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.portfolio-experiment a:hover .text,
.portfolio-experiment a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:hover:after,
.portfolio-experiment a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.portfolio-experiment a:hover .line,
.portfolio-experiment a:active .line {
  transform: scale3d(1, 1, 1);
}

.portfolio-experiment a:hover .line.-right,
.portfolio-experiment a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}

.portfolio-experiment a:hover .line.-top,
.portfolio-experiment a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}

.portfolio-experiment a:hover .line.-left,
.portfolio-experiment a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}

.portfolio-experiment a:hover .line.-bottom,
.portfolio-experiment a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

.menu {
  background: #fff;
  -webkit-box-flex: 1;
  flex: 1;
}

.footer {
  width: 100%;
  height: 35vh;
  background-color: #141414;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer ul {
  margin-top: 100px;
  list-style-type: none;
}

.footer ul a {
  text-decoration: none;
  color: #fff;
}

.footer ul h2 {
  color: #fff;
  font-family: Montserrat;
  font-weight: bolder;
  margin-bottom: 30px;
  font-size: 20px;
}

.footer ul h2::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #fff;
  bottom: auto;
  display: block;
  margin-top: 15px;
}

.footer ul .footerInfo {
  color: #fff;
  font-family: Montserrat;
  margin-bottom: 10px;
}

.footer ul .footerInfo:hover::after {
  content: '';
  position: absolute;
  height: 4px;
  background-color: #fff;
  display: initial;
  margin-top: 9px;
  margin-left: 12px;
  animation: SlideToRight 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

.footer ul .social img {
  width: 45px;
  margin-right: 15px;
}

@keyframes SlideToRight {
  from {
    width: 0px;
  }
  to {
    width: 60px;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
